# **Import Libraries**

In [70]:
import pandas as pd

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score

# **Task 1: Data Preprocessing**

## **Step 01: Load the dataset and inspect the data structure (e.g., shape, missing values, data types).**

Using `pandas` library I loaded the dataset into my colab notebook and I output first 5 rows of the dataset.

In [41]:
df = pd.read_csv('/content/WA_Fn-UseC_-HR-Employee-Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

To get the shape of the dataset, I used `shape` function.

In [42]:
df.shape

(1470, 35)

Next, to find the missing values in the dataset, I used `isnull().sum()` function.

In [43]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

Based on the output, the dataset does not contains any missing values.

To find the each column's datatype, I used `info()` function.

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

## **Step 02: Handle missing data appropriately. Justify your approach (imputation, deletion, etc.).**

There are no missing values.

## **Step 03: Convert categorical features into numerical format (e.g., one-hot encoding or label encoding).**

As a first step, I extract categorical columns from the dataframe

In [45]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

Next I initialized `OneHotEncoder`.

In [46]:
encoder = OneHotEncoder(sparse_output=False)

Next I applied one-hot encoding to the categorical columns.

In [47]:
one_hot_encoded = encoder.fit_transform(df[categorical_columns])
one_hot_encoded

array([[0., 1., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 1., 1., 0.],
       [0., 1., 0., ..., 1., 0., 1.],
       ...,
       [1., 0., 0., ..., 1., 0., 1.],
       [1., 0., 0., ..., 1., 1., 0.],
       [1., 0., 0., ..., 1., 1., 0.]])

Next, I create a DataFrame with the one-hot encoded columns

In [48]:
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))

I combined the one-hot encoded dataframe with the original dataframe `df`.

In [49]:
df_encoded = pd.concat([df, one_hot_df], axis=1)

Drop the original categorical columns

In [50]:
df_encoded = df_encoded.drop(categorical_columns, axis=1)
df_encoded.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

Now, I successfully encoded all the categorical columns into numerical values.

## **Step 04: Scale numerical features where necessary (e.g., using MinMaxScaler or StandardScaler).**

In [51]:
df_encoded.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,0.054422,0.198639,0.221769,0.056463,0.222449,0.457823,0.319728,1.0,0.717007,0.282993
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,0.226925,0.399112,0.415578,0.230891,0.416033,0.498387,0.466530,0.0,0.450606,0.450606
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000,0.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.0,1.000000,1.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000

Based on the output, the mean and the standard deviation both are spread in wide range. Therefore, I need to scale the mean to 0 and standand deviation to 1.

First, I initialized `StandardScalar`.

In [52]:
scalar = StandardScaler()

Then fit and transform the dataframe `df_encoded`.

In [53]:
df_scaled = scalar.fit_transform(df_encoded)
df_scaled = pd.DataFrame(df_scaled, columns=df_encoded.columns)
df_scaled

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.446350,0.742527,-1.010909,-0.891688,0.0,-1.701283,-0.660531,1.383138,0.379672,-0.057788,...,-0.239904,-0.497873,1.873287,-0.244625,-0.534873,-0.918921,1.458650,0.0,-1.591746,1.591746
1,1.322365,-1.297775,-0.147150,-1.868426,0.0,-1.699621,0.254625,-0.240677,-1.026167,-0.057788,...,-0.239904,2.008543,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
2,0.008343,1.414363,-0.887515,-0.891688,0.0,-1.696298,1.169781,1.284725,-1.026167,-0.961486,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,-0.918921,1.458650,0.0,-1.591746,1.591746
3,-0.429664,1.461466,-0.764121,1.061787,0.0,-1.694636,1.169781,-0.486709,0.379672,-0.961486,...,-0.239904,2.008543,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,-1.591746,1.591746
4,-1.086676,-0.524295,-0.887515,-1.868426,0.0,-1.691313,-1.575686,-1.274014,0.379672,-0.961486,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,-0.101159,0.202082,1.703764,-0.891688,0.0,1.721670,0.254625,-1.224807,1.785511,-0.057788,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
1466,0.227347,-0.469754,-0.393938,-1.868426,0.0,1.723332,1.169781,-1.175601,-1.026167,0.845911,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
1467,-1.086676,-1.605183,-0.640727,0.085049,0.0,1.726655,-0.660531,1.038693,1.785511,-0.057788,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,-1.591746,1.591746
1468,1.322365,0.546677,-0.887515,0.085049,0.0,1.728317,1.169781,-0.142264,-1.026167,-0.057788,...,-0.239904,-0.497873,1.873287,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241
1469,-0.320163,-0.432568,-0.147150,0.085049,0.0,1.733302,-0.660531,0.792660,1.785511,-0.057788,...,-0.239904,-0.497873,-0.533821,-0.244625,-0.534873,1.088232,-0.685565,0.0,0.628241,-0.628241

In [54]:
df_scaled.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
count,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1470.0,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,...,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1.470000e+03,1470.0,1.470000e+03,1.470000e+03
mean,-3.504377e-17,5.075305e-17,4.350262e-17,7.008755e-17,0.0,-1.546760e-16,1.305078e-16,1.691768e-16,6.525392e-17,-2.658493e-17,...,5.256566e-17,-4.471102e-17,1.208406e-18,1.450087e-17,-2.175131e-17,1.208406e-16,-4.471102e-17,0.0,4.350262e-17,-4.350262e-17
std,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,0.0,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,...,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,1.000340e+00,0.0,1.000340e+00,1.000340e+00
min,-2.072192e+00,-1.736576e+00,-1.010909e+00,-1.868426e+00,0.0,-1.701283e+00,-1.575686e+00,-1.766079e+00,-2.432006e+00,-9.614864e-01,...,-2.399041e-01,-4.978732e-01,-5.338212e-01,-2.446250e-01,-5.348731e-01,-9.189214e-01,-6.855655e-01,0.0,-1.591746e+00,-6.282411e-01
25%,-7.581700e-01,-8.366616e-01,-8.875151e-01,-8.916883e-01,0.0,-8.866700e-01,-6.605307e-01,-8.803615e-01,-1.026167e+00,-9.614864e-01,...,-2.399041e-01,-4.978732e-01,-5.338212e-01,-2.446250e-01,-5.348731e-01,-9.189214e-01,-6.855655e-01,0.0,-1.591746e+00,-6.282411e-01
50%,-1.011589e-01,-1.204135e-03,-2.705440e-01,8.504925e-02,0.0,-7.253514e-03,2.546249e-01,5.355811e-03,3.796721e-01,-5.778755e-02,...,-2.399041e-01,-4.978732e-01,-5.338212e-01,-2.446250e-01,-5.348731e-01,-9.189214e-01,-6.855655e-01,0.0,6.282411e-01,-6.282411e-01
75%,6.653541e-01,8.788772e-01,5.932157e-01,1.061787e+00,0.0,8.821327e-01,1.169781e+00,8.787715e-01,3.796721e-01,8.459113e-01,...,-2.399041e-01,-4.978732e-01,-5.338212e-01,-2.446250e-01,-5.348731e-01,1.088232e+00,1.458650e+00,0.0,6.282411e-01,1.591746e+00
max,2.526886e+00,1.726730e+00,2.444129e+00,2.038524e+00,0.0,1.733302e+00,1.169781e+00,1.678377e+00,1.785511e+00,2.653309e+00,...,4.168333e+00,2.008543e+00,1.873287e+00,4.087890e+00,1.869602e+00,1.088232e+00,1.458650e+00,0.0,6.282411e-01,1.591746e+00

Now I successfully scaled the dataset. Based on the output you can see the mean value is near to 0 and the standard deviattion is 1.

# **Task 2: Feature Selection and Engineering**

## **Step 01: Perform correlation analysis or other methods (e.g., Mutual Information, Chi-Square test) to understand the relationship between features and the target variable.**

Overall correlation

In [55]:
df_scaled.corr()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
Age,1.000000,0.010661,-0.001686,0.208034,NaN,-0.010145,0.010146,0.024287,0.029820,0.509604,...,0.185891,-0.146518,-0.002001,-0.175785,0.033120,0.083919,-0.119185,NaN,-0.028062,0.028062
DailyRate,0.010661,1.000000,-0.004985,-0.016806,NaN,-0.050990,0.018355,0.023381,0.046135,0.002966,...,-0.000021,-0.002624,-0.000513,0.005375,0.037080,0.040035,-0.075835,NaN,-0.009135,0.009135
DistanceFromHome,-0.001686,-0.004985,1.000000,0.021042,NaN,0.032916,-0.016075,0.031131,0.008783,0.005303,...,-0.022351,-0.010986,0.030761,-0.015994,-0.005440,0.030232,-0.027445,NaN,-0.025514,0.025514
Education,0.208034,-0.016806,0.021042,1.000000,NaN,0.042070,-0.027128,0.016775,0.042438,0.101589,...,0.049694,0.000709,0.053398,-0.091465,-0.002439,-0.001865,0.004168,NaN,0.020322,-0.020322
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeNumber,-0.010145,-0.050990,0.032916,0.042070,NaN,1.000000,0.017621,0.035179,-0.006888,-0.018519,...,-0.013983,-0.017686,0.023263,0.006255,-0.025149,0.053933,-0.035189,NaN,0.024037,-0.024037
EnvironmentSatisfaction,0.010146,0.018355,-0.016075,-0.027128,NaN,0.017621,1.000000,-0.049857,-0.008278,0.001212,...,-0.048689,0.001940,-0.024421,0.002949,0.016439,-0.022180,0.009035,NaN,-0.070132,0.070132
HourlyRate,0.024287,0.023381,0.031131,0.016775,NaN,0.035179,-0.049857,1.000000,0.042861,-0.027853,...,-0.025128,0.020034,-0.011886,-0.018703,-0.006150,0.036432,-0.033436,NaN,0.007782,-0.007782
JobInvolvement,0.029820,0.046135,0.008783,0.042438,NaN,-0.006888,-0.008278,0.042861,1.000000,-0.012630,...,0.015200,0.047604,-0.011413,-0.027282,0.016815,0.028324,-0.045253,NaN,0.003507,-0.003507
JobLevel,0.509604,0.002966,0.005303,0.101589,NaN,-0.018519,0.001212,-0.027853,-0.012630,1.000000,...,0.414319,-0.387788,0.127490,-0.216559,0.037087,0.050547,-0.087072,NaN,-0.000544,0.000544
JobSatisfaction,-0.004892,0.030571,-0.003669,-0.011296,NaN,-0.046247,-0.006784,-0.071335,-0.021476,-0.001944,...,-0.006217,0.020503,0.012604,0.001413,-0.015197,-0.010315,0.024571,NaN,-0.024539,0.024539
MonthlyIncome,0.497855,0.007707,-0.017014,0.094961,NaN,-0.014829,-0.006259,-0.015794,-0.015271,0.950300,...,0.485818,-0.345180,0.047792,-0.201514,0.032203,0.056767,-0.089361,NaN,-0.006089,0.006089
MonthlyRate,0.028051,-0.032182,0.027473,-0.026084,NaN,0.012648,0.037600,-0.015297,-0.016322,0.039563,...,0.025875,-0.027008,0.011854,-0.001200,-0.000227,-0.034689,0.037260,NaN,-0.021431,0.021431
NumCompaniesWorked,0.299635,0.038153,-0.029251,0.126317,NaN,-0.001251,0.012594,0.022157,0.015012,0.142501,...,0.097925,-0.043981,0.005913,-0.104494,0.040824,-0.016142,-0.019161,NaN,0.020786,-0.020786
PercentSalaryHike,0.003634,0.022704,0.040235,-0.011111,NaN,-0.012944,-0.031701,-0.009062,-0.017205,-0.034730,...,-0.017017,0.032537,-0.046683,0.031102,-0.023478,0.020895,-0.001386,NaN,0.005433,-0.005433
PerformanceRating,0.001904,0.000473,0.027110,-0.024539,NaN,-0.020359,-0.029548,-0.002172,-0.029071,-0.021222,...,-0.035744,0.019416,-0.041401,-0.006214,-0.010310,0.009585,-0.001045,NaN,-0.004369,0.004369
RelationshipSatisfaction,0.053535,0.007846,0.006557,-0.009118,NaN,-0.069861,0.007665,0.001330,0.034297,0.021642,...,-0.005492,-0.003116,-0.004836,-0.024859,0.006199,-0.043382,0.040817,NaN,-0.048493,0.048493
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.037510,0.042143,0.044872,0.018422,NaN,0.062227,0.003432,0.050263,0.021523,0.013984,...,0.015807,-0.011635,0.015756,-0.048067,0.446285,0.225574,-0.638957,NaN,0.000449,-0.000449
TotalWorkingYears,0.680381,0.014515,0.004628,0.148280,NaN,-0.014365,-0.002693,-0.002334,-0.005533,0.782208,...,0.312148,-0.228119,-0.012241,-0.207726,0.036291,0.053512,-0.089529,NaN,-0.012754,0.012754
TrainingTimesLastYear,-0.019621,0.002453,-0.036942,-0.025100,NaN,0.023603,-0.019359,-0.008548,-0.015338,-0.018191,...,-0.004527,-0.052126,0.013241,0.040377,0.008405,-0.029602,0.024129,NaN,0.079113,-0.079113
WorkLifeBalance,-0.021490,-0.037848,-0.026556,0.009819,NaN,0.010309,0.027627,-0.004607,-0.014617,0.037818,...,0.034403,-0.058613,0.032092,0.045148,-0.009080,-0.006388,0.014921,NaN,0.027092,-0.027092
YearsAtCompany,0.311309,-0.034055,0.009508,0.069114,NaN,-0.011240,0.001458,-0.019582,-0.021355,0.534739,...,0.153918,-0.154062,0.042602,-0.163464,0.025728,0.044925,-0.070935,NaN,0.011687,-0.011687
YearsInCurrentRole,0.212901,0.009932,0.018845,0.060236,NaN,-0.008416,0.018007,-0.024106,0.008717,0.389447,...,0.136332,-0.131314,0.092349,-0.149751,0.018532,0.065488,-0.086486,NaN,0.029758,-0.029758
YearsSinceLastPromotion,0.216513,-0.033229,0.010029,0.054254,NaN,-0.009019,0.016194,-0.026716,-0.024184,0.353885,...,0.074455,-0.105237,0.049202,-0.085622,-0.005279,0.054102,-0.053090,NaN,0.012239,-0.012239
YearsWithCurrManager,0.202089,-0.026363,0.014406,0.069065,NaN,-0.009197,-0.004999,-0.020123,0.025976,0.375281,...,0.131279,-0.127608,0.083028,-0.168743,0.014095,0.032972,-0.047793,NaN,0.041586,-0.041586
Attrition_No,0.159205,0.056652,-0.077924,0.031373,NaN,0.010577,0.103369,0.006846,0.130016,0.169105,...,0.088870,0.000360,-0.019774,-0.157234,0.087716,0.090984,-0.175419,NaN,0.246118,-0.246118
Attrition_Yes,-0.159205,-0.056652,0.077924,-0.031373,NaN,-0.010577,-0.103369,-0.006846,-0.130016,-0.169105,...,-0.088870,-0.000360,0.019774,0.157234,-0.087716,-0.090984,0.175419,NaN,-0.246118,0.246118
BusinessTravel_Non-Travel,-0.011215,0.012096,0.023605,0.004524,NaN,0.022272,0.003568,-0.016994,-0.045779,-0.007295,...,-0.021431,-0.010116,0.031022,-0.033780,0.057455,-0.043635,-0.004622,NaN,0.037163,-0.037163
BusinessTravel_Travel_Frequently,-0.024743,-0.011776,0.005081,-0.008292,NaN,-0.007980,-0.012624,-0.018819,0.004424,-0.021557,...,-0.023579,-0.004461,-0.010175,0.055469,0.005779,-0.030785,0.027734,NaN,-0.029392,0.029392
BusinessTravel_Travel_Rarely,0.028791,0.002078,-0.020116,0.004126,NaN,-0.007976,0.008496,0.027541,0.026714,0.023433,...,0.034600,0.010588,-0.011920,-0.025257,-0.043287,0.055613,-0.020808,NaN,0.000539,-0.000539
Department_Human Resources,0.020523,-0.026726,-0.012901,0.011435,NaN,0.063431,-0.007597,-0.016551,0.004789,-0.006157,...,-0.050765,-0.105352,-0.112959,-0.051764,0.016037,0.034767,-0.051443,NaN,0.006178,-0.006178
Department_Research & Development,0.017883,0.014871,-0.008117,-0.018604,NaN,-0.041923,0.027976,0.018686,0.023187,-0.107830,...,0.174596,0.362340,-0.733497,-0.336127,0.035158,-0.019997,-0.009990,NaN,0.003036,-0.003036
Department_Sales,-0.027549,-0.003616,0.014085,0.014215,NaN,0.015441,-0.025606,-0.012047,-0.026107,0.114307,...,-0.158327,-0.328576,0.808869,0.370667,-0.043451,0.005378,0.033002,NaN,-0.005864,0.005864
EducationField_Human Resources,0.001696,-0.043144,-0.002624,0.026479,NaN,0.035345,-0.006898,-0.033670,0.002079,0.010409,...,-0.032816,-0.068103,-0.073020,-0.033462,0.012107,0.057339,-0.072051,NaN,-0.004040,0.004040
EducationField_Life Sciences,0.016824,0.004028,-0.024499,0.013184,NaN,-0.000609,-0.024526,0.038759,0.003228,-0.008431,...,0.018401,0.043729,-0.091122,-0.043208,-0.002672,-0.017866,0.021469,NaN,0.013787,-0.013787
EducationField_Marketing,0.038162,-0.064449,0.039294,0.072405,NaN,-0.014487,0.000479,0.004452,-0.018657,0.092698,...,-0.083548,-0.173387,0.457308,0.133065,-0.007212,0.018491,-0.013323,NaN,-0.014607,0.014607
EducationField_Medical,-0.006354,0.034202,0.013486,-0.072335,NaN,-0.008689,-0.021299,-0.020418,0.017103,-0.014114,...,0.062898,0.039735,-0.133532,-0.051990,0.013316,-0.007139,-0.004249,NaN,-0.002246,0.002246
EducationField_Other,-0.041466,-0.003893,-0.007969,0.038043,NaN,0.010432,0.064602,-0.042163,-0.011895,-0.016724,...,-0.006044,0.005286,-0.036995,-0.033774,0.005411,-0.009171,0.004972,NaN,-0.024970,0.024970
EducationField_Technical Degree,-0.027604,0.030869,-0.014802,-0.026742,NaN,0.005938,0.027713,0.011283,-0.004519,-0.054707,...,-0.022905,0.076218,-0.058843,0.057185,-0.019243,0.002710,0.014265,NaN,0.017723,-0.017723
Gender_Female,0.036311,0.011716,0.001851,0.016547,NaN,-0.022556,-0.000508,0.000478,-0.017960,0.039403,...,0.006121,-0.009745,0.005348,0.028877,-0.046076,0.007804,0.032752,NaN,-0.041924,0.041924
Gender_Male,-0.036311,-0.011716,-0.001851,-0.016547,NaN,0.022556,0.000508,-0.000478,0.017960,-0.039403,...,-0.006121,0.009745,-0.005348,-0.028877,0.046076,-0.007804,-0.032752,NaN,0.041924,-0.041924
JobRole_Healthcare Representative,0.098825,0.040141,0.022916,0.024270,NaN,0.025945,0.014090,0.014599,0.001272,0.115704,...,-0.075038,-0.155727,-0.166971,-0.076515,0.027897,0.004913,-0.030126,NaN,0.000382,-0.000382
JobRole_Human Resources,-0.029856,-0.021156,-0.024089,-0.005295,NaN,0.067287,-0.022014,-0.016189,-0.004952,-0.100922,...,-0.045941,-0.095342,-0.102226,-0.046845,0.021541,0.030995,-0.052320,NaN,0.014026,-0.014026
JobRole_Laboratory Technician,-0.143176,-0.006728,0.012369,-0.063566,NaN,-0.019722,-0.001533,0.018028,-0.022724,-0.344608,...,-0.110947,-0.230248,-0.246873,-0.113130,-0.011224,-0.009233,0.019873,NaN,0.044774,-0.044774
JobRole_Manager,0.294248,-0.013224,-0.039190,0.028453,NaN,-0.035058,0.010730,0.012659,0.017112,0.552744,...,-0.065508,-0.135949,-0.145765,-0.066797,0.001997,0.049982,-0.055176,NaN,0.011086,-0.011086
JobRole_Manufacturing Director,0.049726,-0.005302,0.011848,-0.005290,NaN,-0.014350,0.059178,-0.014394,-0.021939,0.114896,...,-0.079362,-0.164700,-0.176592,-0.080924,0.020543,0.002819,-0.021331,NaN,0.010302,-0.010302
JobRole_Research Director,0.185891,-0.000021,-0.022351,0.049694,NaN,-0.013983,-0.048689,-0.025128,0.015200,0.414319,...,1.000000,-0.119442,-0.128066,-0.058687,0.037524,0.008271,-0.042299,NaN,-0.002400,0.002400
JobRole_Research Scientist,-0.146518,-0.002624,-0.010986,0.000709,NaN,-0.017686,0.001940,0.020034,0.047604,-0.387788,...,-0.119442,1.000000,-0.265775,-0.121792,-0.012115,-0.039987,0.053522,NaN,-0.054378,0.054378
JobRole_Sales Executive,-0.002001,-0.000513,0.030761,0.053398,NaN,0.023263,-0.024421,-0.011886,-0.011413,0.127490,...,-0.128066,-0.265775,1.000000,-0.130586,-0.013853,0.005751,0.006210,NaN,-0.006341,0.006341
JobRole_Sales Representative,-0.175785,0.005375,-0.015994,-0.091465,NaN,0.006255,0.002949,-0.018703,-0.027282,-0.216559,...,-0.058687,-0.121792,-0.130586,1.000000,-0.052890,-0.023659,0.072439,NaN,-0.003347,0.003347
MaritalStatus_Divorced,0.033120,0.037080,-0.005440,-0.002439,NaN,-0.025149,0.016439,-0.006150,0.016815,0.037087,...,0.037524,-0.012115,-0.013853,-0.052890,1.000000,-0.491506,-0.366691,NaN,-0.023462,0.023462
MaritalStatus_Married,0.083919,0.040035,0.030232,-0.001865,NaN,0.053933,-0.022180,0.036432,0.028324,0.050547,...,0.008271,-0.039987,0.005751,-0.023659,-0.491506,1.000000,-0.629981,NaN,0.013502,-0.013502
MaritalStatus_Single,-0.119185,-0.075835,-0.027445,0.004168,NaN,-0.035189,0.009035,-0.033436,-0.045253,-0.087072,...,-0.042299,0.053522,0.006210,0.072439,-0.366691,-0.629981,1.000000,NaN,0.006498,-0.006498
Over18_Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OverTime_No,-0.028062,-0.009135,-0.025514,0.020322,NaN,0.024037,-0.070132,0.007782,0.003507,-0.000544,...,-0.002400,-0.054378,-0.006341,-0.003347,-0.023462,0.013502,0.006498,NaN,1.000000,-1.000000
OverTime_Yes,0.028062,0.009135,0.025514,-0.020322,NaN,-0.024037,0.070132,-0.007782,-0.003507,0.000544,...,0.002400,0.054378,0.006341,0.003347,0.023462,-0.013502,-0.006498,NaN,-1.000000,1.000000

Correlation with target variable `Attrition`

In [56]:
correlation = df_scaled.corr()['Attrition_Yes'].sort_values(ascending=False)
correlation

Attrition_Yes                        1.000000
OverTime_Yes                         0.246118
MaritalStatus_Single                 0.175419
JobRole_Sales Representative         0.157234
BusinessTravel_Travel_Frequently     0.115143
JobRole_Laboratory Technician        0.098290
Department_Sales                     0.080855
DistanceFromHome                     0.077924
EducationField_Technical Degree      0.069355
EducationField_Marketing             0.055781
NumCompaniesWorked                   0.043494
EducationField_Human Resources       0.036466
JobRole_Human Resources              0.036215
Gender_Male                          0.029453
JobRole_Sales Executive              0.019774
Department_Human Resources           0.016832
MonthlyRate                          0.015170
PerformanceRating                    0.002889
JobRole_Research Scientist          -0.000360
HourlyRate                          -0.006846
EmployeeNumber                      -0.010577
PercentSalaryHike                   -0.013478
EducationField_Other                -0.017898
Gender_Female                       -0.029453
Education                           -0.031373
EducationField_Life Sciences        -0.032703
YearsSinceLastPromotion             -0.033019
RelationshipSatisfaction            -0.045872
EducationField_Medical              -0.046999
BusinessTravel_Travel_Rarely        -0.049538
DailyRate                           -0.056652
TrainingTimesLastYear               -0.059478
WorkLifeBalance                     -0.063939
BusinessTravel_Non-Travel           -0.074457
JobRole_Healthcare Representative   -0.078696
JobRole_Manufacturing Director      -0.082994
JobRole_Manager                     -0.083316
Department_Research & Development   -0.085293
MaritalStatus_Divorced              -0.087716
JobRole_Research Director           -0.088870
MaritalStatus_Married               -0.090984
EnvironmentSatisfaction             -0.103369
JobSatisfaction                     -0.103481
JobInvolvement                      -0.130016
YearsAtCompany                      -0.134392
StockOptionLevel                    -0.137145
YearsWithCurrManager                -0.156199
Age                                 -0.159205
MonthlyIncome                       -0.159840
YearsInCurrentRole                  -0.160545
JobLevel                            -0.169105
TotalWorkingYears                   -0.171063
OverTime_No                         -0.246118
Attrition_No                        -1.000000
EmployeeCount                             NaN
StandardHours                             NaN
Over18_Y                                  NaN
Name: Attrition_Yes, dtype: float64

Based on the output you can see the correlation between features and the target variable.

## **Step 02: Engineer additional useful features (if applicable), such as calculating employee tenure or work-life balance scores.**

In the dataset, tenure and work-life balance are already availabe.

## **Step 03: Select the most important features using feature selection techniques(e.g., Recursive Feature Elimination, Lasso regularization).**

Before applying Recursive Feature Elimination, convert the data type of the columns to `int`.

In [57]:
df_scaled = df_scaled.astype({col: 'int' for col in df_scaled.select_dtypes(include=['float64']).columns})

To select important features using Recursive Feature Elimination, first choose target variable `y` and features `X`.

In [58]:
X = df_scaled.drop(columns=['Attrition_Yes', 'Attrition_No', 'Gender_Female', 'OverTime_No'])
y = df_scaled['Attrition_Yes']

Next, split the dataset into taining data and testing data by 80/20 ratio or other.

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

Initialize the RandomForest model or any preferred model.

In [60]:
model = RandomForestClassifier()

Next, Create `RFE` object and specify the number of features you want

In [61]:
rfe = RFE(estimator=model, n_features_to_select=5)

Next, fit the model in the training data

In [62]:
rfe = rfe.fit(X_train, y_train)

To get the important features,

In [63]:
selected_features = X_train.columns[rfe.support_]
selected_features

Index(['Age', 'DistanceFromHome', 'JobInvolvement', 'PercentSalaryHike',
       'WorkLifeBalance'],
      dtype='object')

Based oon the output the important features are `Age`, `DistanceFromHome`, `JobInvolvement`, `PercentSalaryHike`, and `WorkLifeBalance`.

# **Task 3: Model Selection and Building**

## **Step 01: Experiment with at least two different types of models (e.g., RandomForest, XGBoost, Neural Networks). One of the model types must be aNeural Network.**

I used RandomForest to build the model.

In [64]:
X = df_scaled[['Age', 'DistanceFromHome', 'JobInvolvement', 'PercentSalaryHike','WorkLifeBalance']]
y = df_scaled['Attrition_Yes']

Next, split the dataset into taining data and testing data by 80/20 ratio or other.

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

Initialize the RandomForest model.

In [66]:
model = RandomForestClassifier(n_estimators=100, random_state=42)

In [67]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [68]:
y_pred = model.predict(X_test)

In [71]:
accuracy_rf = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy_rf:.2f}')

print(classification_report(y_test, y_pred))

Accuracy: 0.84
              precision    recall  f1-score   support

           0       0.87      0.96      0.91       255
           2       0.27      0.10      0.15        39

    accuracy                           0.84       294
   macro avg       0.57      0.53      0.53       294
weighted avg       0.79      0.84      0.81       294